<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="../public/stylesheets/global.css" rel="stylesheet" />
    <link href="../public/stylesheets/home.css" rel="stylesheet" />

    <title>Ticket-Easy</title>
  </head>
  <body>
    <div id="home" class="content">
      <header>
        <h1>TICKET EASY</h1>
      </header>
      <div id="bg"></div>
      <main>
        <div class="container">
          <section>
            <h2>Entre para abrir seu chamado</h2>
            <form action="">
              <label class="sr-only" for="access-email">acesso com email</label>
              <input type="email" id="access-email" placeholder="email" />
              <label class="sr-only" for="access-password"
                >acesso com senha</label
              >
              <input type="password" id="access-password" placeholder="senha" />
              <button>
                <img src="../public/images/enter.svg" alt="entar conta" />
                Entrar
              </button>
            </form>
          </section>
          <div class="separator">
            <div></div>
            <div>ou</div>
            <div></div>
          </div>
          <section>
            <h2>Crie sua conta</h2>
            <form action="">
              <label class="sr-only" for="create-access-nome"
                >acesso com email</label
              >
              <input type="text" id="create-access-nome" placeholder="nome" />
              <label class="sr-only" for="create-access-email"
                >acesso com email</label
              >
              <input
                type="email"
                id="create-access-email"
                placeholder="email"
              />
              <label class="sr-only" for="create-access-password"
                >acesso com senha</label
              >
              <input
                type="password"
                id="create-access-password"
                placeholder="senha"
              />
              <button>
                <img src="../public/images/users.svg" alt="criar-conta" />
                Criar conta
              </button>
            </form>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
