<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="../public/stylesheets/style.css" rel="stylesheet" />

    <title>Ticket-Easy</title>
  </head>
  <body>
    <main>
      <div class="container">
        <section>
          <h2>Entre para abrir seu chamado</h2>
          <form action="">
            <label class="sr-only" for="access-email">acesso com email</label>
            <input type="email" id="access-email" />
            <label class="sr-only" for="access-password"
              >acesso com senha</label
            >
            <input type="password" id="access-password" />
            <button>Entrar</button>
          </form>
        </section>
        <div class="separator">
          <div></div>
          <div>ou</div>
          <div></div>
          <section>
            <h2>Crie sua conta</h2>
            <form action="">
              <label class="sr-only" for="create-access-nome"
                >acesso com email</label
              >
              <input type="text" id="create-access-nome" />
              <label class="sr-only" for="create-access-email"
                >acesso com email</label
              >
              <input type="email" id="create-access-email" />
              <label class="sr-only" for="create-access-password"
                >acesso com senha</label
              >
              <input type="password" id="create-access-password" />
              <button>Criar conta</button>
            </form>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
